<div class="wrapper">
    <h1>Control Pacientes</h1>
    
    <div class="row boton-nuevo">
        <div class="col"></div>
        <div class="button-agregar">
            <button type="button" class="btn btn-primary" (click)=verPaciente(0)>+ Nuevo Paciente</button>
        </div>
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead> 
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th> 
                    <th>Email</th>
                    <th>Dni</th>
                    <th>Teléfono</th>
                    <th>Direccion</th>       
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of pacientes">
                    <td class="align-middle">{{paciente.idPaciente}}</td>
                    <td class="align-middle">{{paciente.nombres}}</td>
                    <td class="align-middle">{{paciente.apellidos}}</td>
                    <td class="align-middle">{{paciente.email}}</td>
                    <td class="align-middle">{{paciente.dni}}</td>
                    <td class="align-middle">{{paciente.telefono}}</td>
                    <td class="align-middle">{{paciente.direccion}}</td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-warning first" (click)=verPaciente(paciente.idPaciente)  ><i class="bi bi-pencil" ></i> Editar</button>
                        <button type="button" class="btn btn-danger " (click)=eliminarPaciente(paciente.idPaciente)><i class="bi bi-trash"></i> Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>