<app-menu></app-menu>
<div class="listado" style="width: 80%;height:auto;margin-left: 300px;margin-right: auto;position: relative;"  >
<div class="wrapper">
    <!-- Título principal de la pagina -->
    <h1>Control Pacientes</h1>
    <!-- Boton para agregar un nuevo paciente -->
    <div class="row boton-nuevo">
        <div class="col"></div>
        <div class="button-agregar">
            <button type="button" class="btn btn-primary" (click)=verPaciente(0)>+ Nuevo Paciente</button>
        </div>
    </div>
    <div>
        <!-- Tabla donde se muestran los pacientes -->
        <table class="table table-bordered table-hover">
            <!-- con el thead se muestran los titulos de las columnas -->
            <thead> 
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th> 
                    <th>Email</th>
                    <th>Dni</th>
                    <th>Teléfono</th>
                    <th>Direccion</th>       
                    <th>Acciones</th>
                </tr>
            </thead>
            <!-- Aqui se muestran los pacientes -->
            <tbody>
                <!-- Recorro el array pacientes declarada en pacientes.component.ts con un for of para obtener la información de cada uno de ellos -->
                <tr *ngFor="let paciente of pacientes">
                    <td class="align-middle">{{paciente.idPaciente}}</td>
                    <td class="align-middle">{{paciente.nombres}}</td>
                    <td class="align-middle">{{paciente.apellidos}}</td>
                    <td class="align-middle">{{paciente.email}}</td>
                    <td class="align-middle">{{paciente.dni}}</td>
                    <td class="align-middle">{{paciente.telefono}}</td>
                    <td class="align-middle">{{paciente.direccion}}</td>
                    <td class="align-middle">
                        <!-- Boton para editar un paciente -->
                        <button type="button" class="btn btn-warning first" (click)=verPaciente(paciente.idPaciente)  ><i class="bi bi-pencil" ></i> Editar</button>
                        <!-- Boton para eliminar un paciente -->
                        <button type="button" class="btn btn-danger " (click)=eliminarPaciente(paciente.idPaciente)><i class="bi bi-trash"></i> Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>