.h2{
    margin-top: 20px;
}

.wrapper_formulario{
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.boton-nuevo{
    margin-top: 2px;
    margin-bottom: 7px;
}

.button-agregar{
    width: 170px;
}
.input{
    width: 100%;
}

.regresar{
    margin-top: 10px;
    margin-bottom: 10px;
}