<h2>Menu</h2>
<div > 
   
    <button class="btn btn-primary btn-menu-home" (click)=navegar()>
            <i class="bi bi-person-badge-fill icon-menu-home"></i> 
            <p>Control de Médicos</p>
        </button>
        <button class="btn btn-primary btn-menu-home"> 
            <i class="bi bi-briefcase-fill icon-menu-home"></i> 
            <p>Control de Especialidades</p>
        </button>
    <button class="btn btn-primary btn-menu-home"> 
        <i class="bi bi-people-fill icon-menu-home"></i> 
        <p>Control de Pacientes</p>
    </button>
    <button class="btn btn-primary btn-menu-home"> 
        <i class="bi bi-calendar icon-menu-home"></i> 
        <p>Control de Consultas</p>
    </button>
    <button class="btn btn-primary btn-menu-home">
         <i class="bi bi-building icon-menu-home"></i> 
         <p>Control de Laboratorios</p>
    </button>
    
</div>