<div class="listado" style="width: 900px;height: 350px;margin-left: auto;margin-right: auto;">
    <div style="margin-top: 20px;width: 100%;height: 75px;margin-left: auto;text-align: center;margin-right: auto;  margin-bottom: 20px;">
      <h3 class="titulos navbar-nav" style="font-size:30px;margin-top:20px;color: rgb(0, 0, 0);">Reservar {{contexto}}</h3>
      <hr/>
      
    </div>

    <div columns= "2" > 
        <div style="margin-left: 10px;float: left; width: 65%">
            <label class="label">Fecha: </label>
            <mat-form-field appearance="fill">
              <mat-label>Elige una fecha</mat-label>
              <input matInput [matDatepicker]="picker " [(ngModel)]="fecha" >
              <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
             
              <label class="label" style="margin-left: 30px;">Paciente: </label>
              <mat-form-field appearance="fill">
                <mat-label>Paciente</mat-label>
                <mat-select [formControl]="PacienteControl" required [(ngModel)]="idpaciente">
                  <mat-option *ngFor="let paci of pacientedatos" [value]="paci.idPaciente">
                    {{paci.nombres}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="PacienteControl.hasError('required')">Seleccione alguno</mat-error>
                <mat-hint>{{PacienteControl.value?.sound}}</mat-hint>
              </mat-form-field>|
        </div>
        <div style="float: right;width: 32%">

               <button mat-flat-button color="primary" style="margin-right: 10px; width: 120px;" (click)="agregarCentroDistri()"  >
                 <mat-icon>playlist_add</mat-icon>
                 Guardar
               </button>
               <button mat-flat-button color="warn" style="width: 120px" (click)="onClose()" >  
                <mat-icon>close</mat-icon>
                Cancelar
               </button>

        </div>

    </div>
    <div  style=" margin-top: 100px;">

      <div style="text-align: center;" >
        <label class="label" style="margin-left: 30px;">Medico: </label>
        <mat-form-field appearance="fill">
          <mat-label>Medico</mat-label>
          <mat-select [formControl]="MedicoControl" required [(ngModel)]="idmedico">
            <mat-option *ngFor="let medi of medicodatos" [value]="medi.idMedico">
              {{medi.nombres}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="MedicoControl.hasError('required')">Seleccione alguno</mat-error>
          <mat-hint>{{MedicoControl.value?.sound}}</mat-hint>
        </mat-form-field>|

      <label class="label" style="margin-left: 20px;">Consultorio: </label>
      <mat-form-field appearance="fill">
        <mat-label>Consultorio</mat-label>
        <input matInput [(ngModel)]="consultorio"  />
      </mat-form-field>
  </div>
  <div style="text-align: center;">

    <label class="label"> Especialidad </label>
    <mat-form-field class="example-full.width">
        <mat-label>Especialidad</mat-label>
        <input matInput [(ngModel)]="especialidad"  />
      </mat-form-field>

    
</div>
    </div>
    
</div>
